<!-- <nav id="nav1" class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarNav">
      <div class="heading">
        <h1 id="color"><b>Capstone Insurance </b></h1>
      </div>
    </div>
  </div>
  <button class="btn btn-success button2" data-bs-toggle="modal" data-bs-target="#exampleModal"
    (click)="logout()">logout</button>
</nav> -->
<app-header></app-header>

<div class="mycard">
  <div class="row">
    <div class="col-sm-6">
      <div class="card" style="width:35rem;">
        <img src="../../../assets/admEmp.webp" class="card-img-top" height="400px" alt="...">
        <div class="card-body">
          <a href="#" routerLink="/org" class="btn btn-primary btn-lg">Go To Organization</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card" style="width:35rem;">
        <img src="../../../assets/admPol.jpg" class="card-img-top" height="400px" alt="...">
        <div class="card-body">
          <a href="#" routerLink="/client" class="btn btn-primary btn-lg">Go To Client</a>
        </div>
      </div>
    </div>
  </div>
  <div class="mycard">
    <div class="row flex justify-content-center" style="margin-left: 530px;">
      <div class="col-xl-12">
        <div class="card" style="width:35rem;">
          <img src="../../../assets/query.jpg" class="card-img-top" height="400px" alt="...">
          <div class="card-body">
            <a href="#" routerLink="/query" class="btn btn-primary btn-lg">Go To Query</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>