.mycard{
                    
    height: 100%;
    width:100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
}

.row{
    padding-top: 100px;
    margin-left: 180px;
    margin-right: 100px;
   
}
.card{
    
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.5s ease;
    align-items: center;
    border-radius: 8px;
    cursor: pointer;
    
}
.card:hover {
  transform: scale(1.1);
  box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}

.card2
{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.5s ease;
    align-content: center;
    border-radius: 8px;
    cursor: pointer;
}
.card2:hover {
  transform: scale(1.1);
  box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}

p{
  padding: 10px;
  font-size: 20px;
}

 .mycard1{
  margin-left: 350px;
  margin-top: 0px;
} 

#color{
  color: white;
  font-size: 32px;
}

#nav1 {
    background: #004a9f;
    color: white;
    font-size: 30px;
}