<mat-toolbar>
  <button mat-icon mat-icon-button="toggle" class="btn-toggle-info" (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  Capstone - Insurance Policy
  <div *ngFor="let i of empData" class="box1">
    {{i.empCompany | uppercase}}
  </div>
  <button class="btn btn-success button2" data-bs-toggle="modal" data-bs-target="#exampleModal"
    (click)="logout()">logout</button>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav">

    <div *ngFor="let i of empData" >
      <img class="avatar mat-elevation-z8" src="{{i.empImg}}" />
     
        <h4 class="name">{{i.empName | uppercase}}</h4>
      </div>
    <mat-divider></mat-divider>


    <button mat-button class="menu-button">
      <mat-icon>person</mat-icon>
      <a routerLink="/profile"> Profile </a>
    </button>

    <button mat-button class="menu-button">
      <mat-icon>library_add</mat-icon>
      <a routerLink="/recommended"> Recommended</a>
    </button>

    <button mat-button class="menu-button">
      <mat-icon>ac_unit</mat-icon>
      <a routerLink="/all-policy"> All Policy </a>
    </button>

    <button mat-button class="menu-button">
      <mat-icon>shopping_cart</mat-icon>
      <a routerLink="/cart"> Purchased</a>
    </button>

    <mat-divider></mat-divider>
    <button mat-button class="menu-button">
      <mat-icon>info</mat-icon>
      <a routerLink="/about"> About</a>
    </button>

    <button mat-button class="menu-button">
      <mat-icon>help</mat-icon>
      <a routerLink="/help"> Contact Us</a>
    </button>
  </mat-sidenav>


  <mat-sidenav-content>

    <!-- <div class="recommendedNav"> -->
    <nav id="recommendedNav" class="navbar navbar-expand-lg ">
      <form [formGroup]="recommendedData">
        <div class="durationnav">
          <input type="text" list="mylist" class="form-control" placeholder="Duration" formControlName="Duration"
            required>
        </div>

        <div class="durationnav">
          <input type="text" list="mylist" class="form-control" placeholder="Age" formControlName="Age" required>
        </div>

        <div class="durationnav">
          <input type="text" class="form-control" placeholder="Dependants" formControlName="Dependants" required>
        </div>

        <div class="durationnav">
          <input type="text" class="form-control" placeholder="Premium" formControlName="Premium" required>
        </div>

        <div class="durationnav">
          <button
            (click)="filter(recommendedData.value.Age,recommendedData.value.Duration,recommendedData.value.Dependants,recommendedData.value.Premium)"
            type="submit" class="btn btn-primary">
            <mat-icon>search</mat-icon>
          </button>
        </div>
      </form>
    </nav>

    <div *ngIf="isAvailable()">
      <div class="boxTable ">
        <div class="container  mt-3">
          <div class="row mt-3">
            <ng-container>
              <div *ngFor="let item of filterCategory" class="card col-md-3 mt-2">
                <div class="bodyTable1">
                  <p class="text-center"><strong>{{item.PolicyName | uppercase}}</strong></p>
                  <hr style="width:100%;">
                </div>
                <div class="bodyDiv">

                  <label><b> DURATION :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{item.Duration }}</b></label><br>
                  <label><b>DEPENDANTS :&nbsp;
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{item.Dependants}}</b></label><br>
                  <label><b>AGE
                      :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{item.Age
                      }}</b></label><br>
                  <label><b>PREMIUM
                      :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{item.Premium
                      }}</b></label><br>
                  <label><b>CLAIM AMOUNT :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      {{item.ClaimAmount}}</b></label><br>
                </div>
                <button id="button2" (click)="sendData(item)" type="button" class="btn btn-danger"
                  style="width: 10rem;">BUY POLICY</button><br>
              </div>

            </ng-container>

            <div>
            </div>
          </div>
        </div>
      </div>
    </div>





  </mat-sidenav-content>
</mat-sidenav-container>